<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <div id="navbar">
        <h1>Tecnologia</h1>
        <a class="btn btn-outline-success me-2" href="/">Productos</a>
        <div id="usuario">
            <img src="<%= usuario.img %>" alt="<%= usuario.username %>">
            <div id="user">
                <h1><%= usuario.username %></h1>
                <h2><%= usuario.email %></h2>
                <a class="btn btn-sm btn-outline-secondary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <div id="carrito_container">
        <h1>Carrito de <%= usuario.username %></h1>
        <% if(usuario.cart.length == 0) { %>
            <h2>Tu carrito esta vacio</h2>
        <% } else { %>
            <table>
                <thead>
                  <tr>
                    <th>Producto</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <% usuario.cart.forEach(producto => { %>
                        <tr>
                            <td><%= producto.name %></td>
                            <td><img src="<%= producto.img %>" alt="<%= producto.name %>"></td>
                            <td>$<span class="precios"><%= producto.price %></span></td>
                            <td class="eliminar" data-id="<%= producto.id %>">X</td>
                        </tr>
                    <% }) %>
                    </tbody>
                    <tfoot>
                  <tr>
                    <td>Total:</td>
                    <td></td>
                    <td id="precioFinal"></td>
                  </tr>
                </tfoot>
              </table>
              <button id="botonEliminar">Eliminar Carrito</button>
        <% } %>
    </div>
    <script src="cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>