<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <h1>Tecnologia</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              <div id="usuario">
                  <div id="user">
                      <p><%= usuario.email %></p>
                    </div>  
                    <img src="<%= usuario.img %>" alt="<%= usuario.username %>">
            </ul>
          </div>
        </div>
      </nav>
    <div id="carrito_container">
        <h1>Carrito de <%= usuario.username %></h1>
        <% if(usuario.cart.length == 0) { %>
            <h2>Tu carrito esta vacio</h2>
        <% } else { %>
            <table>
                <thead>
                  <tr>
                    <th>Producto</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <% usuario.cart.forEach(producto => { %>
                        <tr>
                            <td><%= producto.name %></td>
                            <td><img src="<%= producto.img %>" alt="<%= producto.name %>"></td>
                            <td>$<span class="precios"><%= producto.price %></span></td>
                            <td class="eliminar" data-id="<%= producto.id %>">X</td>
                        </tr>
                    <% }) %>
                    </tbody>
                    <tfoot>
                  <tr>
                    <td>Total:</td>
                    <td></td>
                    <td id="precioFinal"></td>
                  </tr>
                </tfoot>
              </table>
              <button id="botonEliminar">Eliminar Carrito</button>
        <% } %>
    </div>
    <script src="cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>