<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <div id="navbar">
        <h1>tecnologia</h1>
        <a class="btn btn-outline-success me-2" href="/carrito">Carrito</a>
        <div id="usuario">
            <img src="<%= usuario.img %>" alt="<%= usuario.username %>">
            <div id="user">
                <h1><%= usuario.username %></h1>
                <h2><%= usuario.email %></h2>
                <a  class="btn btn-sm btn-outline-secondary" href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <div id="productos">
        <h1>Productos</h1>
        <h3>lo mejor de la  tecnologia en un solo lugar.</h3>
        <div id="productos_container">
            <% productos.forEach(producto => { %>
                <div class="producto">
                    <h2><%= producto.name %></h2>
                    <img src="<%= producto.img %>" alt="<%= producto.name %>">
                    <p><%= producto.description %></p>
                    <h1>$<%= producto.price %></h1>
                    <button class="agregar" data-id="<%= producto._id %>" data-name="<%= producto.name %>" data-img="<%= producto.img %>" data-price="<%= producto.price %>">Agregar al carrito</button>
                </div>
            <% }) %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <script src="app.js"></script>
</body>
</html>